@font-face {
    font-family: MRSEAV;
    src: url('../Fonts/MrsEaves/MRSEA_11.woff');
}

@font-face {
    font-family: Segoe-WP-Regular;
    src: url('../Fonts/SegoeWPRegular/Segoe-WP-Regular.woff');
}

@font-face {
    font-family: Segoe-WP-light;
    src: url('../Fonts/SegoeWPRegular/segoe-wp-light.woff');
}

@font-face {
    font-family: Segoe-WP-Semibold;
    src: url('../Fonts/SegoeWPRegular/segoe-wp-light.woff');
}

@font-face {
    font-family: Univers-CE-Light;
    src: url('../Fonts/UniversCE/Univers-CE-Light.woff');
}